
/*
----------
RESET CSS
----------
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #f4f4f4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}


/*
-------
HEADER
-------
*/
.header-background {
  height: 200px;
  width: 100%;
  background-image: url("../images/header-banner.jpg");
  background-color: #ff3a3a; /*affiche un fond rouge pour les navigateurs qui ne supportent pas l'images*/
  background-size: 100% auto;
}
.header-content {
  width: 1000px;
  margin: 0 auto;
  text-align: center;

}
.header-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 70px;
  color: white;
  padding: 40px 0 20px 0;
}
.header-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;
}
.header-nav {
  height: 60px;
  width: 100%;
  background: white;
  border-style: solid;
  border-color: #d8d8d8;
  border-bottom-width: 1px;
}
.header-nav-center {
  text-align: center;
  padding: 20px 0 0 0;
}
.header-nav ul li {
  display: inline;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 0 20px 0 20px;
}
.header-nav ul li a {
  color: #2d2d2d;
  transition: all 0.2s linear;
}
.header-nav ul li a:hover {
  color: #ff3a3a;
}


/*
------
FOOTER
------
*/
.footer-background {
  background-color: #2d2d2d;
  height: 50px;
  width: auto;
}
.footer-center {
  width: 260px;
  margin: 0 auto;
}
.footer-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding: 20px 0 0 0;
  margin: 0;
}
